.nav {
    text-decoration: none;
    color: blue;
    display: block;
    margin-bottom: 3px;
    }

    nav a:hover {
        color: aqua;
    }
    
    

    body {
        background-color: #b6ad90;
        display: inline-block;
        max-width: 100%;
        
    }

    h1 {
        text-align: center;
        font-size: 50px;
    }

     ul {
         margin-top: 3px;

    }

    #pagina-inicial {
        margin-bottom: 3px;
        margin-top: 35px;
        font-size: 30px;

    }

    img {
       display: block;
       margin: auto;
    }

    #fatos {
        text-align: center;
        font-size: 40px;
    }
    
    #colorinit {
        margin-left: 0px;
        margin-right: 0px;
        background-color: #a5a58d;
    }

    section {
        background-color: #a5a58d;
    }

    section h3 {
        margin-top: 0px;
    }

    footer {
        background-color: #b6ad90;
        
    }

    #footmargin {
        margin-top: 05px;
    }

   #inline h4, p{
       display: inline-block;
   }
   